.App {
  padding: 0 130px 30px;
}

.bold-text {
  font-weight: 800;
}

.leftCol{
  margin-right:auto
}

.content-box {
  margin-bottom: 50px;
}

.select-city {
  width: 50%;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.jobs-table div {
  display: -webkit-flex;
  display: flex;
  justify-content:flex-end;
}

.bold-hr {
  height: 2px;
  background-color: black;
  border: none;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0.9;
  height:70px;
  background: -webkit-linear-gradient(135deg, #169fb8 0%, #007fa3 100%);
  background: linear-gradient(-45deg, #169fb8 0%, #007fa3 100%);
}

.navigation-wrapper {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

.btn {
  background-color: black;
  height: 25px;
  width: 25px;
  color: whitesmoke;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  margin: 3px;
}